{% extends 'base.html' %}

{% block title %} Dashboard {{ user.username }}{% endblock title %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-title align-center">Dashboard {{ user.username|title }}</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
			<div class="col-md-12">
                <br>
				<h3>Comments</h3>
				<table class="u-full-width">
                    <thead>
                        <tr>
                        <th>Blog</th>
                        <th>Text</th>
                        <th>Time Ago</th>
                        </tr>
                    </thead>
				    <tbody>
                        {% for comment in comments %}
                        <tr>
                            <td>{{ comment.blog }}</td>
                            <td>{{ comment.text|truncatechars:15 }}</td>
                            <td>{{ comment.datetime_created|timesince }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
				</table>
                <br>
                <h3>Blog</h3>
				<table class="u-full-width">
                    <thead>
                        <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Time Ago</th>
                        </tr>
                    </thead>
				    <tbody>
                        {% for blog in blogs %}
                        <tr>
                            <td>{{ blog.title }}</td>
                            <td>{{ blog.discription|truncatechars:15 }}</td>
                            <td>{{ blog.datetime_created|timesince }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
				</table>
			</div>
			
		</div>
        
    </div>

{% endblock content %}
