{% load static %}
<div id="header-wrap">
	<div class="top-content">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="col-md-2">
						
					</div>
				</div>
				<div class="col-md-6">
					<div class="right-element">
						{% if user.is_authenticated %}
							<a href="{% url 'dashboard' %}" class="user-account for-buy">Account</a>
							<a href="{% url 'logout' %}" class="user-account for-buy">Log Out</a>
						{% else %}
							<a href="{% url 'signup' %}" class="user-account for-buy">Sign Up</a>
							<a href="{% url 'login' %}" class="user-account for-buy">Login</a>
						{% endif %}
						<a href="{% url 'shoping' %}" class="cart for-buy">Cart</a>

						<div class="action-menu">

							<div class="search-bar">
								<a href="#" class="search-button search-toggle" data-selector="#header-wrap">
									<i class="icon icon-search"></i>
								</a>
								<form role="search" method="GET" class="search-box" action="{% url 'search' %}">
                                    {% if 's' in request.GET %}
									<input class="search-field text search-input" placeholder="Search" type="search"
                                           name="s" value="{{ value.s }}">
                                    {% else %}
                                    <input class="search-field text search-input" placeholder="Search" type="search"
                                           name="s">
                                    {% endif %}
								</form>
							</div>
						</div>

					</div><!--top-right-->
				</div>
				
			</div>
		</div>
	</div><!--top-content-->

	<header id="header">
		<div class="container">
			<div class="row">

				<div class="col-md-2">
					<div class="main-logo">
						<a href="{% url 'home' %}"><img src="{% static 'images/main-logo.png' %}" alt="logo"></a>
					</div>

				</div>

				<div class="col-md-10">
					
					<nav id="navbar">
						<div class="main-menu stellarnav">
							<ul class="menu-list">
								<li 
								{% if '/' == request.path %}
								class="menu-item active"
								{% else %}
								class="menu-item"
								{% endif %}
								><a href="{% url 'home' %}" data-effect="Home">Home</a></li>
								<li
								{% if 'about/' in request.path %} 
								class="menu-item active"
								{% else %}
								class="menu-item"
								{% endif %}
								><a href="{% url 'about' %}" class="nav-link" data-effect="About">About</a></li>
								<li style="cursor: pointer"><a>Book</a>
									<ul class="menu-list">
									    <li><a href="{% url 'shop-list' %}" class="nav-link" data-effect="Books">Shop</a></li>
								        <li><a href="{% url 'authors' %}" class="nav-link">Authors</a></li>
                                        {% if user.is_authenticated %}
								        <li><a href="{% url 'book_create' %}" class="nav-link">New Book</a></li>
                                        {% endif %}
								     </ul>
								</li>
                                <li style="cursor: pointer"><a>Blog</a>
									<ul>
								        <li><a href="{% url 'list_blog' %}" class="nav-link" data-effect="Shop">Blog</a>
                                        {% if user.is_authenticated %}
										<li ><a href="{% url 'create_blog' %}" class="nav-link">New Blog</a></li>
                                        {% endif%}
									</ul>
								</li>
								<li
								{% if 'contact/' in request.path %} 
								class="menu-item active"
								{% else %}
								class="menu-item"
								{% endif %}
								><a href="{% url 'contact' %}" class="nav-link" data-effect="Contact">Contact</a></li>
							</ul>

							<div class="hamburger">
				                <span class="bar"></span>
				                <span class="bar"></span>
				                <span class="bar"></span>
				            </div>

						</div>
					</nav>

				</div>

			</div>
		</div>
	</header>
</div><!--header-wrap-->