{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}


{% block content %}
    <section id="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="title-element">
                                <h2 class="section-title divider">Subscribe to our newsletter</h2>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="subscribe-content" data-aos="fade-up">
                                <p>Sed eu feugiat amet, libero ipsum enim pharetra hac dolor sit amet, consectetur. Elit adipiscing enim pharetra hac.</p>
                                <form id="form" method="POST">
                                    {% csrf_token %}
                                    <input type="text" name="email" placeholder="Enter your email addresss here">
                                    <button class="btn-subscribe">
                                        <span>send</span> 
                                        <i class="icon icon-send"></i>
                                    </button>
                                </form>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if blogs %}
    <section id="latest-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="section-header align-center">
                        <div class="title">
                            <span>Read our articles</span>
                        </div>
                        <h2 class="section-title">Latest Articles</h2>
                    </div>

                    <div class="row">
                        {% for blog in blogs %}
                        <div class="col-md-4">

                            <article class="column" data-aos="fade-up">

                                <figure>
                                    <a href="{% url 'detail_blog' blog.id %}" class="image-hvr-effect">
                                        <img src="{{ blog.photo.url }}" alt="post" class="post-image" style="border-radius: 20px;">			
                                    </a>
                                </figure>

                                <div class="post-item">	
                                    <div class="meta-date">{{ blog.datetime_created }}</div>			
                                    <h3><a href="{% url 'detail_blog' blog.id %}">{{ blog.title|title }}</a></h3>

                                    <!--<div class="links-element">
                                        <div class="categories">inspiration</div>
                                        <div class="social-links">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="icon icon-facebook"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="icon icon-twitter"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="icon icon-behance-square"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>links-element-->

                                </div>
                            </article>
                            
                        </div>
                        {% endfor %}
                    </div>

                    <div class="row">

                        <div class="btn-wrap align-center">
                            <a href="{% url 'list_blog' %}" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">Read All Articles<i class="icon icon-ns-arrow-right"></i></a>
                        </div>
                    </div>

                </div>	
            </div>
        </div>
    </section>
    {% endif %}

    <!--Download App-->
    <!--<section id="download-app" class="leaf-pattern-overlay">
        <div class="corner-pattern-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="row">

                            <div class="col-md-5">
                                <figure>
                                    <img src="{% static 'images/device.png' %}" alt="phone" class="single-image">
                                </figure>
                            </div>

                            <div class="col-md-7">
                                <div class="app-info">
                                    <h2 class="section-title divider">Download our app now !</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis sed ptibus liberolectus nonet psryroin. Amet sed lorem posuere sit iaculis amet, ac urna. Adipiscing fames semper erat ac in suspendisse iaculis.</p>
                                    <div class="google-app">
                                        <img src="{% static 'images/google-play.jpg' %}" alt="google play">
                                        <img src="{% static 'images/app-store.jpg' %}" alt="app store">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </section> -->
    <!--End Download App-->
{% endblock content %}

