{% extends 'base.html' %}
{% load humanize %}

{% block title %} {{ book.title }} {% endblock %}


{% block content %}

    <section class="bg-sand padding-large">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <a href="{% url 'book_detail' book.id %}" class="product-image">
                        <img
                        {% if book.photo %}
                        src="{{ book.photo.url }}"
                        {% else %}
                        src="https://shop.bl.uk/cdn/shop/products/BibliophileNotebookWEBI_200x.jpg?v=1666777808"
                        {% endif %}
                        style="border-radius: 10px;" alt="Books" class="product-item"></a>
                </div>

                <div class="col-md-6 pl-5">
                    <div class="product-detail">
                        <h1>{{ book.title }}</h1>
                        <p>{{ book.author|title }}</p>
                        <p>{{ book.price|intcomma }}</p>

                        <p>{{ book.description|linebreaks }}</p>

                        {% if user.is_staff %}
                        <a href="{% url 'book_edit' book.id %}" class="btn btn-outline-dark btn-rounded">Edit</a>
                        <a href="{% url 'book_delete' book.id %}" class="btn btn-outline-dark btn-rounded">Delete</a>
                        <br>
                        {% endif %}
                        <button type="submit" name="add-to-cart" value="27545" class="button">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}