{% extends 'base.html' %}
{% block title %} Create Book {% endblock %}


{% block content %}
    <section class="padding-large">
        <div class="container">
            <section class="comment-respond  mb-5">
                <h2>New Book</h2>
                <form method="POST" class="form-group mt-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <label for="author">Title</label>
                            <input class="u-full-width form-control mb-4 mr-4" type="text" name="title" id="author"
                                   placeholder="E.x My Title ..."
                                   value="{{ book.title }}">
                        </div>
                        <div class="col-md-6">
                            <label for="picture">Upload Picture {% if book.photo %}| Currently:
                                {{ book.photo.name }}{% endif %}</label>
                            <input type="file" name="picture">
                        </div>
                        <div class="col-md-12">
                            <label for="comment">Description</label>
                            <textarea class="u-full-width form-control" id="comment" name="description"
                                      placeholder="Write your description ..." style="height: 300px;"
                                      rows="50" required>{{ book.description }}</textarea>
                        </div>
                        <div class="col-md-6">
                            <label for="num">Price [A thousand rials]</label>
                            <input type="number" id="num" name="price" placeholder="" max="10000">
                        </div>
                        <div class="col-md-6">
                            <input class="btn btn-rounded btn-large btn-full" type="submit"
                                    {% if book and user.is_authenticated %}
                                   value="Edit"
                                    {% elif user.is_authenticated %}
                                   value="Create"
                                    {% else %}
                                   value="First Login" disabled
                                    {% endif %}
                            >
                        </div>
                    </div>
                </form>
            </section>
        </div>
    <section>
{% endblock content %}
