{% extends 'base.html' %}
{% load static %}

{% block title %}Blogs{% endblock title %}


{% block content %}
    <section class="hero-section jarallax">
        <div class="container">
            <div class="row">
                <div class="col-md-15">			
                    <h1 class="page-title">Blogs</h1>
                    <div class="breadcrumbs">
                        <span class="item"><a href="{% url 'home' %}">Home /</a></span>
                        <span class="item">Blogs</span>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="latest-blog" class="scrollspy-section padding-large">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- post grid -->
                    {% if blogs %}
                    <div class="post-grid">
                        <div class="row">
                                {% for blog in blogs %}
                                <div class="col-md-4">
                                    <article class="post-item">
                                        <figure>
                                            <a href="{% url 'detail_blog' blog.id %}" class="image-hvr-effect">
                                                <img src="{% static 'images/post-img1.jpg' %}" alt="post" class="post-image">			
                                            </a>
                                        </figure>
        
                                        <div class="post-content">	
                                            <div class="meta-date">{{ blog.datetime_created }}</div>			
                                            <h3 class="post-title"><a href="{% url 'detail_blog' blog.id %}">{{ blog.title|title }}</a></h3>
                                            <p>{{ blog.discription|truncatewords:10 }}</p>
                                        </div>
                                    </article>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <h3 class="post-title">We Don't Have Blogs</h3>
                    {% endif %}
                    <!-- / post grid -->
                </div>
            </div>
        </div>
    </section>
{% endblock content %}