{% extends 'base.html' %}

{% block title %} Create Blog {% endblock title %}

{% block content %}
<section class="padding-large">
    <div class="container">
    <section class="comment-respond  mb-5">			
        <h3>New Blog</h3>
        <form method="POST" class="form-group mt-3">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <input class="u-full-width" type="text" name="author" id="author" class="form-control mb-4 mr-4"
                    {% if user.is_authenticated %} 
                    placeholder="{{ user.username }}" readonly
                    {% else %}
                    placeholder="Your full name"
                    {% endif %}
                    required >
                </div>
                <div class="col-md-6">
                    <input class="u-full-width" type="email" name="email" id="email" class="form-control mb-4"  
                    {% if user.is_authenticated %} 
                    placeholder="{{ user.email }}" readonly
                    {% else %}
                    placeholder="E-mail Address"
                    {% endif %}
                    required >

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <textarea class="u-full-width" id="comment" class="form-control mb-4" name="comment" placeholder="Write your comment here" rows="20" required></textarea>
                </div>
                <div class="col-md-12">
                    <input class="btn btn-rounded btn-large btn-full" type="submit" 
                    {% if user.is_authenticated %} 
                    value="Submit"
                    {% else %}
                    value="First Login" disabled
                    {% endif %}
                    >
                </div>
            </div>
        </form>
    </section>
    </div>
<section>
{% endblock content %}